.correct {
    /* color: green; */
    font-weight: bold;
}

.incorrect {
    color: red;
    /* text-decoration: underline; */
}

.current {
    background: palegreen;
    /* background: palegoldenrod; */
}

.timer, .errors,
.accuracy, .wpm {
  background-color: #ccda46;
  height: 60px;
  width: 70px;
  margin: 8px;
  padding: 12px;
  border-radius: 20%;
  box-shadow: black 5px 8px 5px;
}

.header_text {
    text-transform: uppercase;
    font-size: 0.6rem;
    font-weight: 600;
  }

.curr_time, .curr_errors,
.curr_accuracy, .curr_cpm,
.curr_wpm {
  font-size: 2.75rem;
}